/* 
    Document   : forms
    Created on : Jul 18, 2013, 10:23:25 AM
    Author     : Rob
    Description:
        Normalize all forms
*/

div.input, div.submit, div.control-group, div.btn-group, div#survey-captcha{
    display: block;
    margin: 0px 8px 8px 12px;
    position: relative;
    width:100%;
    max-width: 600px;
}

div.input label, div.input.radio fieldset legend, div.control-group label{
    width:100%;
    max-width: 600px;
    height: 35px;
    color: #FFF;
    font-size: 1.2em;
    text-shadow: 1px 2px rgba(55,55,55,.9);
    display: block;
    padding: 12px 4px 0px 14px;
    letter-spacing: .08em;
    position: relative; 
    border: 2px solid #CCC; 
    margin-bottom:15px;
    border-radius: 4px;
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    box-shadow: 1px 3px 5px rgba(0,0,0,.9);
    -webkit-box-shadow: 1px 3px 5px rgba(0,0,0,.9);
}
div.input label a, div.input.radio fieldset legend a, div.control-group label a{
    color:#FFF;
    text-decoration: underline;
    font-variant: small-caps;
}
div.input label:before, div.input label:after, div.input.radio fieldset legend:before, div.input.radio fieldset legend:after, div.control-group label:before, div.control-group label:after{
    top: 100%; 
    border: solid transparent; 
    content: " "; 
    height: 0; 
    width: 0; 
    position: absolute; 
    pointer-events: none; 
}
div.input label:after, div.input.radio fieldset legend:after, div.control-group label:after{
    border-color: rgba(0, 0, 0, 0); 
    border-top-color: #000; 
    border-width: 12px; 
    left: 50%; 
    margin-left: -12px;
}
div.input label:before, div.input.radio fieldset legend:before, div.control-group label:before { 
    border-color: rgba(204, 204, 204, 0); 
    border-top-color: #CCC; 
    border-width: 15px; 
    left: 50%; 
    margin-left: -15px; 
}
div.input select, div.input textarea, div.input input[type=text],div.input input[type=password], div.input input[type=email], 
div.control-group input[type=text], div.control-group input[type=password], div.control-group input[type=email], 
div.control-group textarea, div.control-group select,
div.btn-group input[type=text]{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
    border: 1px solid #CED3D8;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 2px 6px rgba(133, 133, 147, 0.22) inset;
    clear: both;
    color: #92969B;
    font: 400 20px/20px "Arial",sans-serif;
    height: 35px;
    margin: 0 0 19px;
    padding: 5px 8px 2px;
    resize: none;
    text-shadow: 0 1px 0 #FFFFFF;
    max-width:600px;
    width:100%;
}
div.input input[type=text]:focus,div.input input[type=password]:focus, div.input input[type=email]:focus, 
div.control-group input[type=text]:focus, 
div.control-group input[type=password]:focus, 
div.control-group input[type=email]:focus,
div.btn-group input[type=text]:focus{
     border: 1px solid rgba(255,153,0,1);
     background-color:#FFF;
     box-shadow: 1px 1px 3px 2px rgba(255, 153, 0, .78); 
}

/* handle fieldset checkbox & radio */
div.input.radio fieldset label, div.control-group label.checkbox {
    width: auto;
    height: 35px;
    color: inherit;
    font-size: 1.2em;
    font-variant: small-caps;
    background: none;
    text-shadow: none;
    display: inline-block;
    padding: 12px 14px 4px;
    letter-spacing: .08em;
    position: relative; 
    border: 1px solid #CCC; 
    margin-bottom:15px;
    margin-right:12px;
    margin-left: 13px;
    border-radius: 4px;
}
div.input.radio fieldset label:after, div.input.radio fieldset label:before, div.control-group label.checkbox:before, div.control-group label.checkbox:after {
	right: 100%;
        left:-12px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

div.input.radio fieldset label:after, div.control-group label.checkbox:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 12px;
	top: 50%;
	margin-top: -12px;
}
div.input.radio fieldset label:before, div.control-group label.checkbox:before {
	border-color: rgba(204, 204, 204, 0);
	border-right-color: #CCC;
	border-width: 13px;
	top: 50%;
	margin-top: -13px;
}

div.input.checkbox input[type=checkbox]+label{
    width:50%;
    display: inline-block;
    margin-left:16px;
}

/*special rule for dynamic forms */
div.control-group div.controls{
    padding-left:12px;
    width:100%;
    max-width: 600px;
}
div.control-group div.controls label{
    margin-left: 22px;
}
div.control-group label.checkbox input[type=checkbox]{
    left: -50px;
    position: relative;
}
/* end special */
div.input.checkbox input[type=checkbox]+label:after, div.input.checkbox input[type=checkbox]+label:before {
	right: 100%;
        left:-15px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

div.input.checkbox input[type=checkbox]+label:after {
	border-color: rgba(0, 0, 0, 0);
	border-right-color: #000;
	border-width: 12px;
	top: 50%;
	margin-top: -12px;
}
div.input.checkbox input[type=checkbox]+label:before {
	border-color: rgba(204, 204, 204, 0);
	border-right-color: #CCC;
	border-width: 15px;
	top: 50%;
	margin-top: -15px;
}

