/* 
    Document   : forms
    Created on : Jul 18, 2013, 10:23:25 AM
    Author     : Rob
    Description:
        Normalize all forms
*/

div.input{
    display: block;
    margin: 0px 8px 8px 12px;
}

div.input label{
    width: 600px;
    height: 35px;
    color: #FFF;
    font-variant: small-caps;
    display: block;
    padding: 4px;
    position: relative; 
    background: #000; 
    border: 2px solid #CCC; 
    margin-bottom:15px;
    border-radius: 4px;
}

div.input label:before, div.input label:after{
    top: 100%; 
    border: solid transparent; 
    content: " "; 
    height: 0; 
    width: 0; 
    position: absolute; 
    pointer-events: none; 
}
div.input label:after{
    border-color: rgba(0, 0, 0, 0); 
    border-top-color: #000; 
    border-width: 12px; 
    left: 50%; 
    margin-left: -12px;
}
div.input label:before { 
    border-color: rgba(204, 204, 204, 0); 
    border-top-color: #CCC; 
    border-width: 15px; 
    left: 50%; 
    margin-left: -15px; 
}
div.input input[type=text],div.input input[type=password]{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
    border: 1px solid #CED3D8;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 2px 6px rgba(133, 133, 147, 0.22) inset;
    clear: both;
    color: #92969B;
    font: 400 20px/20px "Helvetica Neue","Helvetica","Arial",sans-serif;
    height: 35px;
    margin: 0 0 19px;
    padding: 5px 8px 2px;
    resize: none;
    text-shadow: 0 1px 0 #FFFFFF;
    width:600px;
}
